body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main{
    margin: 20px;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    box-align: center;
}

.navbar a:hover{
    background-color: rgb(203, 203, 203);
}

.navbar li{
    float: left;
}

footer{
    text-align: center;
    font-size: 12px;
    color: gray;
    padding: 10px;
}